@import url("https://fonts.googleapis.com/css?family=Rozha+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Rozha+One&display=swap");
html,
body {
  font-family: "Roboto Condensed", sans-serif;
}

.landing-btn {
  background-color: #7547ff;
  color: #fff;
  margin-top: 20px;
  margin-left: 42%;
  font-weight: bold;
}

.landing-text {
  margin-top: 12%;
}

.hero .container {
  margin-top: 0;
  padding: 0;
}

.landing-btn:hover {
  color: #fff;
  background-color: #4406fb;
}

.hero-title {
  color: #0564fb;
  font-size: 100px !important;
  font-weight: 700;
  font-family: "Rozha One", serif;
  text-transform: capitalize;
}

.hero-subtitle {
  color: #438cff;
  font-size: 25px !important;
  font-weight: 600;
  text-transform: capitalize;
}

#piano {
  max-width: 650px;
}

.guitar-img {
  height: 600px !important;
}

.landing {
  margin-bottom: 200px;
}

nav {
  background: #438bff !important;
}

.logo {
  font-family: "Rozha One", serif;
}

i {
  margin: 1rem 1rem 1rem 1rem;
}

.icon-link {
  color: inherit;
  text-decoration: none;
}

.coming-soon {
  color: #0564fb;
  font-weight: 600;
  margin: 2rem 0rem;
}

#about {
  margin: 2rem 0;
}

.about-info {
  font-weight: 500;
  margin-top: 1rem;
}
